html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    width: 375px;
}

header {
    border-bottom: 1px solid #C6C6C6;
}

.profile-container {
    display: flex;
}

/* Typography */
.name, .likes, .comment {
    font-size: 13px;
    font-weight: 700;
}

span {
    font-weight: 400;
}

.location {
    display: block;
    font-size: 12px;
}

.likes, .comment {
    margin: 0 0 10px 10px;
}

/* Images */
.logo {
    width: 127px;
    margin-left: 10px;
}

.user-avatar {
    width: 34px;
    border-radius: 22px;
    margin: 8px 10px 8px 187px;
}

.post-avatar {
    width: 34px;
    border-radius: 20px;
    margin: 10px;
}

.post-img {
    width: 375px;
}

.icons {
    width: 35px;
    margin: 10px;
}